.news {
    height: 90vh;
    font-family: $font-display;

    display: flex;

    &__headline {
        width: 25%;
        padding: 3.5rem;

        display: flex;
        flex-direction: column;

        &-title {
            color: $color-type-special;
            font-size: 3.5rem;
            font-weight: lighter;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        &-item {
            color: $color-type-special;
            font-size: 2.5rem;
            font-weight: lighter;
            list-style-type: none;
        }
    }

    &__image {
        width: 75%;
        padding-right: 3rem;

        display: flex;
        flex-direction: column;

        &-img {
            height: 90%;
            border-radius: 3px;
            box-shadow: 0 2rem 3rem rgba(#000, .3);
        }

        &-name {
            height: 20%;
            color: $color-type-special;
            font-size: 3rem;
            text-transform: uppercase;

            flex: start;
        }
    }
}