.stock {
    height: 95vh;
    width: 100%;
    background-color: $color-primary-dark;
    //background-color: #888888;
    font-family: $font-display;
    color: $color-grey-light-3;
    text-transform: uppercase;

    display: flex;

    &__nav {
        width: 20%;
        margin-left: 10rem;
        margin-top: 5rem;

        &-head {
            margin-top: 2rem;
            font-size: 1.6rem;

        }
    }

    &__item {
        list-style-type: none;
        font-size: 1.1rem;
        transition: all .3s; 

        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__link {

        &:link,
        &:visited {
            color: $color-grey-light-2;
            text-decoration: none;
        }
        
        &:hover,
        &:active {
            color: $color-grey-light-1;
            transform: scale(1.03);
        }
    }

    &__items {
        width: 80%;
        margin-top: 3rem;

        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }


}