@font-face {
  font-family: 'Galvji';
  src: url(../vendors/fonts/Galvji.ttc); }

@font-face {
  font-family: 'Industry-Book';
  src: url(../vendors/fonts/Industry-Book.ttf); }

@font-face {
  font-family: 'Helvetica';
  src: url(../vendors/fonts/Helvetica.ttc); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Helvetica", sans-serif;
  color: #333333;
  line-height: 1.6; }

.nav {
  background-color: #666666;
  height: 4.5rem; }
  .nav__list {
    height: 100%;
    font-family: "Galvji", sans-serif;
    font-size: 1.8rem;
    color: #bcbcbc;
    text-transform: uppercase;
    list-style-type: none;
    backface-visibility: hidden;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .nav__link:link, .nav__link:visited {
    color: #bcbcbc;
    text-decoration: none; }
  .nav__link:hover, .nav__link:active {
    color: #f9f7f6;
    transform: scale(115%); }

.header {
  background-image: url(../img/marblequarry.jpg);
  background-size: cover;
  height: 100vh; }

.logo-black {
  height: 200px;
  margin: 5% 35%; }

.about {
  background-color: #333333;
  height: 90vh;
  padding: 5% 10%; }
  .about__header {
    font-size: 3.4rem;
    font-weight: 100;
    font-family: "Industry-Book", sans-serif;
    text-transform: uppercase;
    color: #a6a3a3;
    margin-bottom: 2rem; }
    .about__header span {
      color: #555555; }
  .about__body {
    font-size: 1.8rem;
    font-weight: lighter;
    font-family: "Helvetica", sans-serif;
    color: #a6a3a3;
    letter-spacing: .05rem; }

.news {
  height: 70vh;
  background-color: #f9f7f6;
  display: flex; }
  .news__headline {
    width: 20%; }
  .news__image {
    width: 80%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .news__image-img {
      height: 90%;
      border-radius: 3px;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
